.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 25%);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.toolbar .logo {
  margin: 0 16px;
}

.spacer {
  flex: 1;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 4px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px 0 6px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}
